body {
    background-color: #334155;

    color: #e2e8f0;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1, h2, h3 {
    
    color: #2dd4bf;

}

a {

color: #71a5e8;

}